---
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle
} from "./ui/card";
import type {ImageMetadata} from "astro";

import {Image} from "astro:assets"

const { md, gameName, cover, path } = Astro.props

const games = await Astro.glob("../contents/games/*.md")
const Content = games
  .find((x) => {
      const paths = x.file.split('/')
      return paths[paths.length - 1] === md
  })!
  .Content
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/*.{jpeg,jpg,png,gif}')
if (!images[cover]) throw new Error(`"${cover}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`);
---

<div id={path} class="col-span-1 row-span-1">
    <a href={"/games/" + path}>
        <Card className="h-full hover:cursor-pointer hover:border-primary relative overflow-clip">
            <CardContent className="p-0">
                <div class="w-full h-40">
                    <Image class="w-full h-full object-cover" src={images[cover]()} alt="game-cover"/>
                </div>
                <div class="m-4 space-y-1">
                    <h3 class="font-bold text-xl">{gameName}</h3>
                    <div class="text-justify hyphens-auto">
                        <Content/>
                    </div>
                </div>
            </CardContent>
        </Card>
    </a>
</div>